spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop
    username: sa
    password:
    driver-class-name: org.h2.Driver
  output:
    ansi:
      enabled: always

  jpa:
    hibernate:
      ddl-auto: none
      # create - 애플리케이션 실행 시점에 테이블을 drop하고, 다시 생성
    properties:
      hibernate:
#        show_sql: true # System.out에 hibernate 실행 SQL을 남긴다.
        format_sql: true

  level:
    org.hibernate.SQL: debug # logger를 통해 hibernate 실행 SQL을 남긴다. 운영환경에서는 로거를 통해서 찍어야 한다.
#    org.hibernate.type: trace